*~
*.pyc
*.swp
.DS_Store
.idea/
.vagrant
/src/
*~$*
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
credentials.csv
scripts/client_secret.json
temp/*.*
/out/
env/
*.db
*.fdb
*.prof